<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.almweb.mapper.TR_2201Mapper">

	<!-- 금리갭 내역 조회  -->
	<select id="selectRateGabList" parameterType="java.util.Map" resultType="java.util.HashMap">
        WITH DATA_TB AS (
			SELECT 
			    A.BASE_DATE
			    , A.ALM_WORK_TC
			    , A.ORG_CLAS_C
			    , A.BR_C
			    , A.ACCT_C
			    , A.CUR_C
			    , A.AC_BUSI_TC
			    , A.SNRO_NO
			    , A.CS_BHOR_RTO_APLY_YN
			    , A.ALM_MTRT_SECT_C
			    , A.FIX_VAR_TC
			    , A.TR_ACC_YN
			    , A.IRRBB_CS_CLAS_C
			    , DECODE(A.RATE_SSTV_YN, 'Y', '금리부', 'N', '비금리부') AS RATE_SSTV_NM
			    , DECODE(A.RATE_SSTV_YN, 'Y', '1', 'N', '2') AS RATE_SSTV_ORD
			    , NVL(A.RMBR_PAY_PRIN_AMT,0) AS TOT_RMBR_PAY_PRIN_AMT
			    , DECODE(A.MTRT_SECT_SEQ, 1, NVL(A.RMBR_PAY_PRIN_AMT,0), 0) AS S1_RMBR_PAY_PRIN_AMT
			    , DECODE(A.MTRT_SECT_SEQ, 2, NVL(A.RMBR_PAY_PRIN_AMT,0), 0) AS S2_RMBR_PAY_PRIN_AMT
			    , DECODE(A.MTRT_SECT_SEQ, 3, NVL(A.RMBR_PAY_PRIN_AMT,0), 0) AS S3_RMBR_PAY_PRIN_AMT
			    , DECODE(A.MTRT_SECT_SEQ, 4, NVL(A.RMBR_PAY_PRIN_AMT,0), 0) AS S4_RMBR_PAY_PRIN_AMT
			    , DECODE(A.MTRT_SECT_SEQ, 5, NVL(A.RMBR_PAY_PRIN_AMT,0), 0) AS S5_RMBR_PAY_PRIN_AMT
			    , DECODE(A.MTRT_SECT_SEQ, 6, NVL(A.RMBR_PAY_PRIN_AMT,0), 0) AS S6_RMBR_PAY_PRIN_AMT
			    , DECODE(A.MTRT_SECT_SEQ, 7, NVL(A.RMBR_PAY_PRIN_AMT,0), 0) AS S7_RMBR_PAY_PRIN_AMT
			    , DECODE(A.MTRT_SECT_SEQ, 8, NVL(A.RMBR_PAY_PRIN_AMT,0), 0) AS S8_RMBR_PAY_PRIN_AMT
			    , DECODE(A.MTRT_SECT_SEQ, 9, NVL(A.RMBR_PAY_PRIN_AMT,0), 0) AS S9_RMBR_PAY_PRIN_AMT
			    , DECODE(A.MTRT_SECT_SEQ, 10, NVL(A.RMBR_PAY_PRIN_AMT,0), 0) AS S10_RMBR_PAY_PRIN_AMT
			    , DECODE(A.MTRT_SECT_SEQ, 11, NVL(A.RMBR_PAY_PRIN_AMT,0), 0) AS S11_RMBR_PAY_PRIN_AMT
			    , DECODE(A.MTRT_SECT_SEQ, 12, NVL(A.RMBR_PAY_PRIN_AMT,0), 0) AS S12_RMBR_PAY_PRIN_AMT
			    , DECODE(A.MTRT_SECT_SEQ, 13, NVL(A.RMBR_PAY_PRIN_AMT,0), 0) AS S13_RMBR_PAY_PRIN_AMT
			    , DECODE(A.MTRT_SECT_SEQ, 14, NVL(A.RMBR_PAY_PRIN_AMT,0), 0) AS S14_RMBR_PAY_PRIN_AMT
			    , DECODE(A.MTRT_SECT_SEQ, 15, NVL(A.RMBR_PAY_PRIN_AMT,0), 0) AS S15_RMBR_PAY_PRIN_AMT
			    , DECODE(A.MTRT_SECT_SEQ, 16, NVL(A.RMBR_PAY_PRIN_AMT,0), 0) AS S16_RMBR_PAY_PRIN_AMT
			    , DECODE(A.MTRT_SECT_SEQ, 17, NVL(A.RMBR_PAY_PRIN_AMT,0), 0) AS S17_RMBR_PAY_PRIN_AMT
			    , DECODE(A.MTRT_SECT_SEQ, 18, NVL(A.RMBR_PAY_PRIN_AMT,0), 0) AS S18_RMBR_PAY_PRIN_AMT
			    , DECODE(A.MTRT_SECT_SEQ, 19, NVL(A.RMBR_PAY_PRIN_AMT,0), 0) AS S19_RMBR_PAY_PRIN_AMT
			    , CASE WHEN ASTS_SDTP_CLAS_C != '10' THEN RMBR_PAY_PRIN_AMT ELSE 0 END AS ASTS20_BLW_AMT 
--                , NVL(A.WT_AVG_APLY_RATE,0) AS TOT_WT_AVG_APLY_RATE
--			    , DECODE(A.MTRT_SECT_SEQ, 1, NVL(A.WT_AVG_APLY_RATE,0), 0) AS S1_WT_AVG_APLY_RATE
--			    , DECODE(A.MTRT_SECT_SEQ, 2, NVL(A.WT_AVG_APLY_RATE,0), 0) AS S2_WT_AVG_APLY_RATE
--			    , DECODE(A.MTRT_SECT_SEQ, 3, NVL(A.WT_AVG_APLY_RATE,0), 0) AS S3_WT_AVG_APLY_RATE
--			    , DECODE(A.MTRT_SECT_SEQ, 4, NVL(A.WT_AVG_APLY_RATE,0), 0) AS S4_WT_AVG_APLY_RATE
--			    , DECODE(A.MTRT_SECT_SEQ, 5, NVL(A.WT_AVG_APLY_RATE,0), 0) AS S5_WT_AVG_APLY_RATE
--			    , DECODE(A.MTRT_SECT_SEQ, 6, NVL(A.WT_AVG_APLY_RATE,0), 0) AS S6_WT_AVG_APLY_RATE
--			    , DECODE(A.MTRT_SECT_SEQ, 7, NVL(A.WT_AVG_APLY_RATE,0), 0) AS S7_WT_AVG_APLY_RATE
--			    , DECODE(A.MTRT_SECT_SEQ, 8, NVL(A.WT_AVG_APLY_RATE,0), 0) AS S8_WT_AVG_APLY_RATE
--			    , DECODE(A.MTRT_SECT_SEQ, 9, NVL(A.WT_AVG_APLY_RATE,0), 0) AS S9_WT_AVG_APLY_RATE
--			    , DECODE(A.MTRT_SECT_SEQ, 10, NVL(A.WT_AVG_APLY_RATE,0), 0) AS S10_WT_AVG_APLY_RATE
--			    , DECODE(A.MTRT_SECT_SEQ, 11, NVL(A.WT_AVG_APLY_RATE,0), 0) AS S11_WT_AVG_APLY_RATE
--			    , DECODE(A.MTRT_SECT_SEQ, 12, NVL(A.WT_AVG_APLY_RATE,0), 0) AS S12_WT_AVG_APLY_RATE
--			    , DECODE(A.MTRT_SECT_SEQ, 13, NVL(A.WT_AVG_APLY_RATE,0), 0) AS S13_WT_AVG_APLY_RATE
--			    , DECODE(A.MTRT_SECT_SEQ, 14, NVL(A.WT_AVG_APLY_RATE,0), 0) AS S14_WT_AVG_APLY_RATE
--			    , DECODE(A.MTRT_SECT_SEQ, 15, NVL(A.WT_AVG_APLY_RATE,0), 0) AS S15_WT_AVG_APLY_RATE
--			    , DECODE(A.MTRT_SECT_SEQ, 16, NVL(A.WT_AVG_APLY_RATE,0), 0) AS S16_WT_AVG_APLY_RATE
--			    , DECODE(A.MTRT_SECT_SEQ, 17, NVL(A.WT_AVG_APLY_RATE,0), 0) AS S17_WT_AVG_APLY_RATE
--			    , DECODE(A.MTRT_SECT_SEQ, 18, NVL(A.WT_AVG_APLY_RATE,0), 0) AS S18_WT_AVG_APLY_RATE
--			    , DECODE(A.MTRT_SECT_SEQ, 19, NVL(A.WT_AVG_APLY_RATE,0), 0) AS S19_WT_AVG_APLY_RATE
			FROM TBI_RATE_GAP_TOT A
			WHERE A.BASE_DATE = #{sch_base_date}
			AND A.SNRO_NO = #{sch_snro_no}
			AND A.CS_BHOR_RTO_APLY_YN = 'Y'
		<if test='sch_br_c == "ALL"'>
			AND A.BR_C IN (SELECT BR_C FROM TTL_BR_C_INFO WHERE BR_TC = '03') /*전체조합*/
		</if>
		<if test="sch_br_c != 'ALL'">
			<if test="sch_br_c == '001'">
			AND A.BR_C = '001' /*중앙회*/
			</if>
			<if test="sch_br_c != '001' and (sch_blng_hq_br_c == '' or sch_blng_hq_br_c == null)">
			AND A.BR_C IN (SELECT BR_C FROM TTL_BR_C_INFO WHERE BLNG_HQ_BR_C = #{sch_br_c}) /*도지회별합산*/
			</if>
			<if test="sch_br_c != '001' and sch_blng_hq_br_c != '' and sch_blng_hq_br_c != null and sch_sub_yn == 'Y'.toString()">
			AND A.BR_C IN (SELECT BR_C FROM TTL_BR_C_INFO WHERE MO_BR_C = #{sch_br_c}) /*단위조합별조회(지소포함)*/
			</if>
			<if test="sch_br_c != '001' and sch_blng_hq_br_c != '' and sch_blng_hq_br_c != null and sch_sub_yn == 'N'.toString()">
			AND A.BR_C = #{sch_br_c}
			</if>
		</if>
		)
		SELECT
			MAX(BASE_DATE) AS BASE_DATE 
		    , LVL1 AS ACCT_C_NM1
		<if test="sch_acc_tc_lvl == 1">
			, DECODE(GROUPING_ID (RATE_SSTV_NM), 1, LVL1||' 소계', RATE_SSTV_NM) AS RATE_SSTV_NM
			, GROUPING_ID (RATE_SSTV_NM) AS GRP_ID
		</if>
		<if test="sch_acc_tc_lvl == 2">
			, DECODE(GROUPING_ID (RATE_SSTV_NM, LVL2), 3, LVL1||' 소계', RATE_SSTV_NM) AS RATE_SSTV_NM
			, DECODE(GROUPING_ID (RATE_SSTV_NM, LVL2), 1, RATE_SSTV_NM||' 소계', LVL2) AS ACCT_C_NM2 
			, GROUPING_ID (RATE_SSTV_NM, LVL2) AS GRP_ID	
		</if>
		<if test="sch_acc_tc_lvl == 3">
			, DECODE(GROUPING_ID (RATE_SSTV_NM, LVL2, LVL3), 7, LVL1||' 소계', RATE_SSTV_NM) AS RATE_SSTV_NM
			, DECODE(GROUPING_ID (RATE_SSTV_NM, LVL2, LVL3), 3, RATE_SSTV_NM||' 소계', LVL2) AS ACCT_C_NM2 
			, DECODE(GROUPING_ID (RATE_SSTV_NM, LVL2, LVL3), 1, LVL2||' 소계', LVL3) AS ACCT_C_NM3 
			, GROUPING_ID (RATE_SSTV_NM, LVL2, LVL3) AS GRP_ID	
		</if>
		<if test="sch_acc_tc_lvl == 4">
			, DECODE(GROUPING_ID (RATE_SSTV_NM, LVL2, LVL3, LVL4), 15, LVL1||' 소계', RATE_SSTV_NM) AS RATE_SSTV_NM
			, DECODE(GROUPING_ID (RATE_SSTV_NM, LVL2, LVL3, LVL4), 7, RATE_SSTV_NM||' 소계', LVL2) AS ACCT_C_NM2 
			, DECODE(GROUPING_ID (RATE_SSTV_NM, LVL2, LVL3, LVL4), 3, LVL2||' 소계', LVL3) AS ACCT_C_NM3 
			, DECODE(GROUPING_ID (RATE_SSTV_NM, LVL2, LVL3, LVL4), 1, LVL3||' 소계', LVL4) AS ACCT_C_NM4 
			, GROUPING_ID (RATE_SSTV_NM, LVL2, LVL3, LVL4) AS GRP_ID	
		</if>
		<if test="sch_acc_tc_lvl == 5">
			, DECODE(GROUPING_ID (RATE_SSTV_NM, LVL2, LVL3, LVL4, LVL5), 31, LVL1||' 소계', RATE_SSTV_NM) AS RATE_SSTV_NM
			, DECODE(GROUPING_ID (RATE_SSTV_NM, LVL2, LVL3, LVL4, LVL5), 15, RATE_SSTV_NM||' 소계', LVL2) AS ACCT_C_NM2 
			, DECODE(GROUPING_ID (RATE_SSTV_NM, LVL2, LVL3, LVL4, LVL5), 7, LVL2||' 소계', LVL3) AS ACCT_C_NM3 
			, DECODE(GROUPING_ID (RATE_SSTV_NM, LVL2, LVL3, LVL4, LVL5), 3, LVL3||' 소계', LVL4) AS ACCT_C_NM4 
			, DECODE(GROUPING_ID (RATE_SSTV_NM, LVL2, LVL3, LVL4, LVL5), 1, LVL4||' 소계', LVL5) AS ACCT_C_NM5 
			, GROUPING_ID (RATE_SSTV_NM, LVL2, LVL3, LVL4, LVL5) AS GRP_ID	
		</if>
		<if test="sch_acc_tc_lvl == 6">
			, DECODE(GROUPING_ID (RATE_SSTV_NM, LVL2, LVL3, LVL4, LVL5, LVL6), 63, LVL1||' 소계', RATE_SSTV_NM) AS RATE_SSTV_NM
			, DECODE(GROUPING_ID (RATE_SSTV_NM, LVL2, LVL3, LVL4, LVL5, LVL6), 31, RATE_SSTV_NM||' 소계', LVL2) AS ACCT_C_NM2 
			, DECODE(GROUPING_ID (RATE_SSTV_NM, LVL2, LVL3, LVL4, LVL5, LVL6), 15, LVL2||' 소계', LVL3) AS ACCT_C_NM3 
			, DECODE(GROUPING_ID (RATE_SSTV_NM, LVL2, LVL3, LVL4, LVL5, LVL6), 7, LVL3||' 소계', LVL4) AS ACCT_C_NM4 
			, DECODE(GROUPING_ID (RATE_SSTV_NM, LVL2, LVL3, LVL4, LVL5, LVL6), 3, LVL4||' 소계', LVL5) AS ACCT_C_NM5 
			, DECODE(GROUPING_ID (RATE_SSTV_NM, LVL2, LVL3, LVL4, LVL5, LVL6), 1, LVL5||' 소계', LVL6) AS ACCT_C_NM6
			, GROUPING_ID (RATE_SSTV_NM, LVL2, LVL3, LVL4, LVL5, LVL6) AS GRP_ID	
		</if>
		<if test="sch_acc_tc_lvl == 7">
			, DECODE(GROUPING_ID (RATE_SSTV_NM, LVL2, LVL3, LVL4, LVL5, LVL6, LVL7), 127, LVL1||' 소계', RATE_SSTV_NM) AS RATE_SSTV_NM
			, DECODE(GROUPING_ID (RATE_SSTV_NM, LVL2, LVL3, LVL4, LVL5, LVL6, LVL7), 63, RATE_SSTV_NM||' 소계', LVL2) AS ACCT_C_NM2 
		, DECODE(GROUPING_ID (RATE_SSTV_NM, LVL2, LVL3, LVL4, LVL5, LVL6, LVL7), 31, LVL2||' 소계', LVL3) AS ACCT_C_NM3 
			, DECODE(GROUPING_ID (RATE_SSTV_NM, LVL2, LVL3, LVL4, LVL5, LVL6, LVL7), 15, LVL3||' 소계', LVL4) AS ACCT_C_NM4 
			, DECODE(GROUPING_ID (RATE_SSTV_NM, LVL2, LVL3, LVL4, LVL5, LVL6, LVL7), 7, LVL4||' 소계', LVL5) AS ACCT_C_NM5 
			, DECODE(GROUPING_ID (RATE_SSTV_NM, LVL2, LVL3, LVL4, LVL5, LVL6, LVL7), 3, LVL5||' 소계', LVL6) AS ACCT_C_NM6
			, DECODE(GROUPING_ID (RATE_SSTV_NM, LVL2, LVL3, LVL4, LVL5, LVL6, LVL7), 1, LVL6||' 소계', LVL7) AS ACCT_C_NM7
			, GROUPING_ID (RATE_SSTV_NM, LVL2, LVL3, LVL4, LVL5, LVL6, LVL7) AS GRP_ID	
		</if>	
			, MAX(RATE_SSTV_ORD) AS RATE_SSTV_ORD
            , SUM(TOT_RMBR_PAY_PRIN_AMT) AS TOT_MTRT_SECT_AMT
		    , SUM(S1_RMBR_PAY_PRIN_AMT) AS S1_MTRT_SECT_AMT
            , SUM(S2_RMBR_PAY_PRIN_AMT) AS S2_MTRT_SECT_AMT
            , SUM(S3_RMBR_PAY_PRIN_AMT) AS S3_MTRT_SECT_AMT
            , SUM(S4_RMBR_PAY_PRIN_AMT) AS S4_MTRT_SECT_AMT
            , SUM(S5_RMBR_PAY_PRIN_AMT) AS S5_MTRT_SECT_AMT
            , SUM(S6_RMBR_PAY_PRIN_AMT) AS S6_MTRT_SECT_AMT
            , SUM(S7_RMBR_PAY_PRIN_AMT) AS S7_MTRT_SECT_AMT
            , SUM(S8_RMBR_PAY_PRIN_AMT) AS S8_MTRT_SECT_AMT
            , SUM(S9_RMBR_PAY_PRIN_AMT) AS S9_MTRT_SECT_AMT
            , SUM(S10_RMBR_PAY_PRIN_AMT) AS S10_MTRT_SECT_AMT
            , SUM(S11_RMBR_PAY_PRIN_AMT) AS S11_MTRT_SECT_AMT
            , SUM(S12_RMBR_PAY_PRIN_AMT) AS S12_MTRT_SECT_AMT
            , SUM(S13_RMBR_PAY_PRIN_AMT) AS S13_MTRT_SECT_AMT
            , SUM(S14_RMBR_PAY_PRIN_AMT) AS S14_MTRT_SECT_AMT
            , SUM(S15_RMBR_PAY_PRIN_AMT) AS S15_MTRT_SECT_AMT
            , SUM(S16_RMBR_PAY_PRIN_AMT) AS S16_MTRT_SECT_AMT
            , SUM(S17_RMBR_PAY_PRIN_AMT) AS S17_MTRT_SECT_AMT
            , SUM(S18_RMBR_PAY_PRIN_AMT) AS S18_MTRT_SECT_AMT
            , SUM(S19_RMBR_PAY_PRIN_AMT) AS S19_MTRT_SECT_AMT
            , ROUND(SUM(ASTS20_BLW_AMT), 0) AS ASTS20_BLW_AMT
--            , SUM(TOT_WT_AVG_APLY_RATE) AS TOT_WT_AVG_APLY_RATE
--            , SUM(S1_WT_AVG_APLY_RATE) AS S1_WT_AVG_APLY_RATE
--            , SUM(S2_WT_AVG_APLY_RATE) AS S2_WT_AVG_APLY_RATE
--            , SUM(S3_WT_AVG_APLY_RATE) AS S3_WT_AVG_APLY_RATE
--            , SUM(S4_WT_AVG_APLY_RATE) AS S4_WT_AVG_APLY_RATE
--            , SUM(S5_WT_AVG_APLY_RATE) AS S5_WT_AVG_APLY_RATE
--            , SUM(S6_WT_AVG_APLY_RATE) AS S6_WT_AVG_APLY_RATE
--            , SUM(S7_WT_AVG_APLY_RATE) AS S7_WT_AVG_APLY_RATE
--            , SUM(S8_WT_AVG_APLY_RATE) AS S8_WT_AVG_APLY_RATE
--            , SUM(S9_WT_AVG_APLY_RATE) AS S9_WT_AVG_APLY_RATE
--            , SUM(S10_WT_AVG_APLY_RATE) AS S10_WT_AVG_APLY_RATE
--            , SUM(S11_WT_AVG_APLY_RATE) AS S11_WT_AVG_APLY_RATE
--            , SUM(S12_WT_AVG_APLY_RATE) AS S12_WT_AVG_APLY_RATE
--            , SUM(S13_WT_AVG_APLY_RATE) AS S13_WT_AVG_APLY_RATE
--            , SUM(S14_WT_AVG_APLY_RATE) AS S14_WT_AVG_APLY_RATE
--            , SUM(S15_WT_AVG_APLY_RATE) AS S15_WT_AVG_APLY_RATE
--            , SUM(S16_WT_AVG_APLY_RATE) AS S16_WT_AVG_APLY_RATE
--            , SUM(S17_WT_AVG_APLY_RATE) AS S17_WT_AVG_APLY_RATE
--            , SUM(S18_WT_AVG_APLY_RATE) AS S18_WT_AVG_APLY_RATE
--            , SUM(S19_WT_AVG_APLY_RATE) AS S19_WT_AVG_APLY_RATE
--            , CASE WHEN SUM(TOT_RMBR_PAY_PRIN_AMT) = 0 THEN 0 ELSE ROUND(SUM(TOT_WT_AVG_APLY_RATE)/SUM(TOT_RMBR_PAY_PRIN_AMT),5) END AS TOT_MTRT_SECT_RATE
--            , CASE WHEN SUM(S1_RMBR_PAY_PRIN_AMT) = 0 THEN 0 ELSE ROUND(SUM(S1_WT_AVG_APLY_RATE)/SUM(S1_RMBR_PAY_PRIN_AMT),5) END AS S1_MTRT_SECT_RATE
--            , CASE WHEN SUM(S2_RMBR_PAY_PRIN_AMT) = 0 THEN 0 ELSE ROUND(SUM(S2_WT_AVG_APLY_RATE)/SUM(S2_RMBR_PAY_PRIN_AMT),5) END AS S2_MTRT_SECT_RATE
--            , CASE WHEN SUM(S3_RMBR_PAY_PRIN_AMT) = 0 THEN 0 ELSE ROUND(SUM(S3_WT_AVG_APLY_RATE)/SUM(S3_RMBR_PAY_PRIN_AMT),5) END AS S3_MTRT_SECT_RATE
--            , CASE WHEN SUM(S4_RMBR_PAY_PRIN_AMT) = 0 THEN 0 ELSE ROUND(SUM(S4_WT_AVG_APLY_RATE)/SUM(S4_RMBR_PAY_PRIN_AMT),5) END AS S4_MTRT_SECT_RATE
--            , CASE WHEN SUM(S5_RMBR_PAY_PRIN_AMT) = 0 THEN 0 ELSE ROUND(SUM(S5_WT_AVG_APLY_RATE)/SUM(S5_RMBR_PAY_PRIN_AMT),5) END AS S5_MTRT_SECT_RATE
--            , CASE WHEN SUM(S6_RMBR_PAY_PRIN_AMT) = 0 THEN 0 ELSE ROUND(SUM(S6_WT_AVG_APLY_RATE)/SUM(S6_RMBR_PAY_PRIN_AMT),5) END AS S6_MTRT_SECT_RATE
--            , CASE WHEN SUM(S7_RMBR_PAY_PRIN_AMT) = 0 THEN 0 ELSE ROUND(SUM(S7_WT_AVG_APLY_RATE)/SUM(S7_RMBR_PAY_PRIN_AMT),5) END AS S7_MTRT_SECT_RATE
--            , CASE WHEN SUM(S8_RMBR_PAY_PRIN_AMT) = 0 THEN 0 ELSE ROUND(SUM(S8_WT_AVG_APLY_RATE)/SUM(S8_RMBR_PAY_PRIN_AMT),5) END AS S8_MTRT_SECT_RATE
--            , CASE WHEN SUM(S9_RMBR_PAY_PRIN_AMT) = 0 THEN 0 ELSE ROUND(SUM(S9_WT_AVG_APLY_RATE)/SUM(S9_RMBR_PAY_PRIN_AMT),5) END AS S9_MTRT_SECT_RATE
--            , CASE WHEN SUM(S10_RMBR_PAY_PRIN_AMT) = 0 THEN 0 ELSE ROUND(SUM(S10_WT_AVG_APLY_RATE)/SUM(S10_RMBR_PAY_PRIN_AMT),5) END AS S10_MTRT_SECT_RATE
--            , CASE WHEN SUM(S11_RMBR_PAY_PRIN_AMT) = 0 THEN 0 ELSE ROUND(SUM(S11_WT_AVG_APLY_RATE)/SUM(S11_RMBR_PAY_PRIN_AMT),5) END AS S11_MTRT_SECT_RATE
--            , CASE WHEN SUM(S12_RMBR_PAY_PRIN_AMT) = 0 THEN 0 ELSE ROUND(SUM(S12_WT_AVG_APLY_RATE)/SUM(S12_RMBR_PAY_PRIN_AMT),5) END AS S12_MTRT_SECT_RATE
--            , CASE WHEN SUM(S13_RMBR_PAY_PRIN_AMT) = 0 THEN 0 ELSE ROUND(SUM(S13_WT_AVG_APLY_RATE)/SUM(S13_RMBR_PAY_PRIN_AMT),5) END AS S13_MTRT_SECT_RATE
--            , CASE WHEN SUM(S14_RMBR_PAY_PRIN_AMT) = 0 THEN 0 ELSE ROUND(SUM(S14_WT_AVG_APLY_RATE)/SUM(S14_RMBR_PAY_PRIN_AMT),5) END AS S14_MTRT_SECT_RATE
--            , CASE WHEN SUM(S15_RMBR_PAY_PRIN_AMT) = 0 THEN 0 ELSE ROUND(SUM(S15_WT_AVG_APLY_RATE)/SUM(S15_RMBR_PAY_PRIN_AMT),5) END AS S15_MTRT_SECT_RATE
--            , CASE WHEN SUM(S16_RMBR_PAY_PRIN_AMT) = 0 THEN 0 ELSE ROUND(SUM(S16_WT_AVG_APLY_RATE)/SUM(S16_RMBR_PAY_PRIN_AMT),5) END AS S16_MTRT_SECT_RATE
--            , CASE WHEN SUM(S17_RMBR_PAY_PRIN_AMT) = 0 THEN 0 ELSE ROUND(SUM(S17_WT_AVG_APLY_RATE)/SUM(S17_RMBR_PAY_PRIN_AMT),5) END AS S17_MTRT_SECT_RATE
--            , CASE WHEN SUM(S18_RMBR_PAY_PRIN_AMT) = 0 THEN 0 ELSE ROUND(SUM(S18_WT_AVG_APLY_RATE)/SUM(S18_RMBR_PAY_PRIN_AMT),5) END AS S18_MTRT_SECT_RATE
--            , CASE WHEN SUM(S19_RMBR_PAY_PRIN_AMT) = 0 THEN 0 ELSE ROUND(SUM(S19_WT_AVG_APLY_RATE)/SUM(S19_RMBR_PAY_PRIN_AMT),5) END AS S19_MTRT_SECT_RATE
		    , MAX(PRNT_ORD) AS PRNT_ORD_PATH
        FROM (
            SELECT 
                MAX(BASE_DATE) AS BASE_DATE
                , LVL1, RATE_SSTV_NM, LVL2, LVL3, LVL4, LVL5, LVL6, LVL7
                , MAX(RATE_SSTV_ORD) AS RATE_SSTV_ORD
                , (ROUND(SUM(S1_RMBR_PAY_PRIN_AMT), 0) + ROUND(SUM(S2_RMBR_PAY_PRIN_AMT), 0) + ROUND(SUM(S3_RMBR_PAY_PRIN_AMT), 0) + ROUND(SUM(S4_RMBR_PAY_PRIN_AMT), 0)
                    + ROUND(SUM(S5_RMBR_PAY_PRIN_AMT), 0) + ROUND(SUM(S6_RMBR_PAY_PRIN_AMT), 0)+ ROUND(SUM(S7_RMBR_PAY_PRIN_AMT), 0)+ ROUND(SUM(S8_RMBR_PAY_PRIN_AMT), 0)
                    + ROUND(SUM(S9_RMBR_PAY_PRIN_AMT), 0) + ROUND(SUM(S10_RMBR_PAY_PRIN_AMT), 0) + ROUND(SUM(S11_RMBR_PAY_PRIN_AMT), 0) + ROUND(SUM(S12_RMBR_PAY_PRIN_AMT), 0)
                    + ROUND(SUM(S13_RMBR_PAY_PRIN_AMT), 0) + ROUND(SUM(S14_RMBR_PAY_PRIN_AMT), 0) + ROUND(SUM(S15_RMBR_PAY_PRIN_AMT), 0) + ROUND(SUM(S16_RMBR_PAY_PRIN_AMT), 0)
                    + ROUND(SUM(S17_RMBR_PAY_PRIN_AMT), 0) + ROUND(SUM(S18_RMBR_PAY_PRIN_AMT), 0) + ROUND(SUM(S19_RMBR_PAY_PRIN_AMT), 0)
                ) AS TOT_RMBR_PAY_PRIN_AMT
                , ROUND(SUM(S1_RMBR_PAY_PRIN_AMT), 0) AS S1_RMBR_PAY_PRIN_AMT
                , ROUND(SUM(S2_RMBR_PAY_PRIN_AMT), 0) AS S2_RMBR_PAY_PRIN_AMT
                , ROUND(SUM(S3_RMBR_PAY_PRIN_AMT), 0) AS S3_RMBR_PAY_PRIN_AMT
                , ROUND(SUM(S4_RMBR_PAY_PRIN_AMT), 0) AS S4_RMBR_PAY_PRIN_AMT
                , ROUND(SUM(S5_RMBR_PAY_PRIN_AMT), 0) AS S5_RMBR_PAY_PRIN_AMT
                , ROUND(SUM(S6_RMBR_PAY_PRIN_AMT), 0) AS S6_RMBR_PAY_PRIN_AMT
                , ROUND(SUM(S7_RMBR_PAY_PRIN_AMT), 0) AS S7_RMBR_PAY_PRIN_AMT
                , ROUND(SUM(S8_RMBR_PAY_PRIN_AMT), 0) AS S8_RMBR_PAY_PRIN_AMT
                , ROUND(SUM(S9_RMBR_PAY_PRIN_AMT), 0) AS S9_RMBR_PAY_PRIN_AMT
                , ROUND(SUM(S10_RMBR_PAY_PRIN_AMT), 0) AS S10_RMBR_PAY_PRIN_AMT
                , ROUND(SUM(S11_RMBR_PAY_PRIN_AMT), 0) AS S11_RMBR_PAY_PRIN_AMT
                , ROUND(SUM(S12_RMBR_PAY_PRIN_AMT), 0) AS S12_RMBR_PAY_PRIN_AMT
                , ROUND(SUM(S13_RMBR_PAY_PRIN_AMT), 0) AS S13_RMBR_PAY_PRIN_AMT
                , ROUND(SUM(S14_RMBR_PAY_PRIN_AMT), 0) AS S14_RMBR_PAY_PRIN_AMT
                , ROUND(SUM(S15_RMBR_PAY_PRIN_AMT), 0) AS S15_RMBR_PAY_PRIN_AMT
                , ROUND(SUM(S16_RMBR_PAY_PRIN_AMT), 0) AS S16_RMBR_PAY_PRIN_AMT
                , ROUND(SUM(S17_RMBR_PAY_PRIN_AMT), 0) AS S17_RMBR_PAY_PRIN_AMT
                , ROUND(SUM(S18_RMBR_PAY_PRIN_AMT), 0) AS S18_RMBR_PAY_PRIN_AMT
                , ROUND(SUM(S19_RMBR_PAY_PRIN_AMT), 0) AS S19_RMBR_PAY_PRIN_AMT
                , ROUND(SUM(ASTS20_BLW_AMT), 0) AS ASTS20_BLW_AMT
--                , (ROUND(SUM(S1_WT_AVG_APLY_RATE), 0) + ROUND(SUM(S2_WT_AVG_APLY_RATE), 0) + ROUND(SUM(S3_WT_AVG_APLY_RATE), 0) + ROUND(SUM(S4_WT_AVG_APLY_RATE), 0)
--                    + ROUND(SUM(S5_WT_AVG_APLY_RATE), 0) + ROUND(SUM(S6_WT_AVG_APLY_RATE), 0)+ ROUND(SUM(S7_WT_AVG_APLY_RATE), 0)+ ROUND(SUM(S8_WT_AVG_APLY_RATE), 0)
--                    + ROUND(SUM(S9_WT_AVG_APLY_RATE), 0) + ROUND(SUM(S10_WT_AVG_APLY_RATE), 0) + ROUND(SUM(S11_WT_AVG_APLY_RATE), 0) + ROUND(SUM(S12_WT_AVG_APLY_RATE), 0)
--                    + ROUND(SUM(S13_WT_AVG_APLY_RATE), 0) + ROUND(SUM(S14_WT_AVG_APLY_RATE), 0) + ROUND(SUM(S15_WT_AVG_APLY_RATE), 0) + ROUND(SUM(S16_WT_AVG_APLY_RATE), 0)
--                    + ROUND(SUM(S17_WT_AVG_APLY_RATE), 0) + ROUND(SUM(S18_WT_AVG_APLY_RATE), 0) + ROUND(SUM(S19_WT_AVG_APLY_RATE), 0)
--                ) AS TOT_WT_AVG_APLY_RATE
--                , ROUND(SUM(S1_WT_AVG_APLY_RATE), 0) AS S1_WT_AVG_APLY_RATE
--                , ROUND(SUM(S2_WT_AVG_APLY_RATE), 0) AS S2_WT_AVG_APLY_RATE
--                , ROUND(SUM(S3_WT_AVG_APLY_RATE), 0) AS S3_WT_AVG_APLY_RATE
--                , ROUND(SUM(S4_WT_AVG_APLY_RATE), 0) AS S4_WT_AVG_APLY_RATE
--                , ROUND(SUM(S5_WT_AVG_APLY_RATE), 0) AS S5_WT_AVG_APLY_RATE
--                , ROUND(SUM(S6_WT_AVG_APLY_RATE), 0) AS S6_WT_AVG_APLY_RATE
--                , ROUND(SUM(S7_WT_AVG_APLY_RATE), 0) AS S7_WT_AVG_APLY_RATE
--                , ROUND(SUM(S8_WT_AVG_APLY_RATE), 0) AS S8_WT_AVG_APLY_RATE
--                , ROUND(SUM(S9_WT_AVG_APLY_RATE), 0) AS S9_WT_AVG_APLY_RATE
--                , ROUND(SUM(S10_WT_AVG_APLY_RATE), 0) AS S10_WT_AVG_APLY_RATE
--                , ROUND(SUM(S11_WT_AVG_APLY_RATE), 0) AS S11_WT_AVG_APLY_RATE
--                , ROUND(SUM(S12_WT_AVG_APLY_RATE), 0) AS S12_WT_AVG_APLY_RATE
--                , ROUND(SUM(S13_WT_AVG_APLY_RATE), 0) AS S13_WT_AVG_APLY_RATE
--                , ROUND(SUM(S14_WT_AVG_APLY_RATE), 0) AS S14_WT_AVG_APLY_RATE
--                , ROUND(SUM(S15_WT_AVG_APLY_RATE), 0) AS S15_WT_AVG_APLY_RATE
--                , ROUND(SUM(S16_WT_AVG_APLY_RATE), 0) AS S16_WT_AVG_APLY_RATE
--                , ROUND(SUM(S17_WT_AVG_APLY_RATE), 0) AS S17_WT_AVG_APLY_RATE
--                , ROUND(SUM(S18_WT_AVG_APLY_RATE), 0) AS S18_WT_AVG_APLY_RATE
--                , ROUND(SUM(S19_WT_AVG_APLY_RATE), 0) AS S19_WT_AVG_APLY_RATE
                , MAX(PRNT_ORD) AS PRNT_ORD
            FROM (
                SELECT
                    A.BASE_DATE
                    , B.LVL1
                    , B.LVL2
                    , B.LVL3
                    , B.LVL4
                    , B.LVL5
                    , B.LVL6
                    , B.LVL7
                    , B.ACCT_C_NM
                    , A.RATE_SSTV_NM
                    , A.RATE_SSTV_ORD
                    , A.TOT_RMBR_PAY_PRIN_AMT
                    , A.S1_RMBR_PAY_PRIN_AMT
                    , A.S2_RMBR_PAY_PRIN_AMT
                    , A.S3_RMBR_PAY_PRIN_AMT
                    , A.S4_RMBR_PAY_PRIN_AMT
                    , A.S5_RMBR_PAY_PRIN_AMT
                    , A.S6_RMBR_PAY_PRIN_AMT
                    , A.S7_RMBR_PAY_PRIN_AMT
                    , A.S8_RMBR_PAY_PRIN_AMT
                    , A.S9_RMBR_PAY_PRIN_AMT
                    , A.S10_RMBR_PAY_PRIN_AMT
                    , A.S11_RMBR_PAY_PRIN_AMT
                    , A.S12_RMBR_PAY_PRIN_AMT
                    , A.S13_RMBR_PAY_PRIN_AMT
                    , A.S14_RMBR_PAY_PRIN_AMT
                    , A.S15_RMBR_PAY_PRIN_AMT
                    , A.S16_RMBR_PAY_PRIN_AMT
                    , A.S17_RMBR_PAY_PRIN_AMT
                    , A.S18_RMBR_PAY_PRIN_AMT
                    , A.S19_RMBR_PAY_PRIN_AMT
                    , A.ASTS20_BLW_AMT
--                    , A.TOT_WT_AVG_APLY_RATE
--                    , A.S1_WT_AVG_APLY_RATE
--                    , A.S2_WT_AVG_APLY_RATE
--                    , A.S3_WT_AVG_APLY_RATE
--                    , A.S4_WT_AVG_APLY_RATE
--                    , A.S5_WT_AVG_APLY_RATE
--                    , A.S6_WT_AVG_APLY_RATE
--                    , A.S7_WT_AVG_APLY_RATE
--                    , A.S8_WT_AVG_APLY_RATE
--                    , A.S9_WT_AVG_APLY_RATE
--                    , A.S10_WT_AVG_APLY_RATE
--                    , A.S11_WT_AVG_APLY_RATE
--                    , A.S12_WT_AVG_APLY_RATE
--                    , A.S13_WT_AVG_APLY_RATE
--                    , A.S14_WT_AVG_APLY_RATE
--                    , A.S15_WT_AVG_APLY_RATE
--                    , A.S16_WT_AVG_APLY_RATE
--                    , A.S17_WT_AVG_APLY_RATE
--                    , A.S18_WT_AVG_APLY_RATE
--                    , A.S19_WT_AVG_APLY_RATE
                    , B.PRNT_ORD1||RATE_SSTV_ORD||B.PRNT_ORD2||B.PRNT_ORD3||B.PRNT_ORD4||B.PRNT_ORD5||B.PRNT_ORD6||B.PRNT_ORD7 AS PRNT_ORD
                FROM DATA_TB A
                JOIN (
			        SELECT 
			            LEVEL, BASE_DATE, SYS_CONNECT_BY_PATH(TRIM(ACCT_C_NM), '%') AS ACCT_PATH,
			            REGEXP_SUBSTR(SYS_CONNECT_BY_PATH(TRIM(ACCT_C_NM), '%'),'[^%]+' , 1 , 1 ) AS LVL1,
			            NVL(REGEXP_SUBSTR(SYS_CONNECT_BY_PATH(TRIM(ACCT_C_NM), '%'),'[^%]+' , 1 , 2 ),TRIM(ACCT_C_NM)) AS LVL2,
			            NVL(REGEXP_SUBSTR(SYS_CONNECT_BY_PATH(TRIM(ACCT_C_NM), '%'),'[^%]+' , 1 , 3 ),TRIM(ACCT_C_NM)) AS LVL3,
			            NVL(REGEXP_SUBSTR(SYS_CONNECT_BY_PATH(TRIM(ACCT_C_NM), '%'),'[^%]+' , 1 , 4 ),TRIM(ACCT_C_NM)) AS LVL4,
			            NVL(REGEXP_SUBSTR(SYS_CONNECT_BY_PATH(TRIM(ACCT_C_NM), '%'),'[^%]+' , 1 , 5 ),TRIM(ACCT_C_NM)) AS LVL5,
			            NVL(REGEXP_SUBSTR(SYS_CONNECT_BY_PATH(TRIM(ACCT_C_NM), '%'),'[^%]+' , 1 , 6 ),TRIM(ACCT_C_NM)) AS LVL6,
			            NVL(REGEXP_SUBSTR(SYS_CONNECT_BY_PATH(TRIM(ACCT_C_NM), '%'),'[^%]+' , 1 , 7 ),TRIM(ACCT_C_NM)) AS LVL7,
			            TRIM(ACCT_C_NM) AS ACCT_C_NM,
			            BS_PL_TC,
			            ORG_CLAS_C,
			            AC_BUSI_TC,
			            ACCT_C,
			            NVL(REGEXP_SUBSTR(SYS_CONNECT_BY_PATH(TO_CHAR(TRIM(PRNT_ORD),'FM0000'), '%'),'[^%]+' , 1 , 1 ),'9999') AS PRNT_ORD1,
			            NVL(REGEXP_SUBSTR(SYS_CONNECT_BY_PATH(TO_CHAR(TRIM(PRNT_ORD),'FM0000'), '%'),'[^%]+' , 1 , 2 ),'9999') AS PRNT_ORD2,
			            NVL(REGEXP_SUBSTR(SYS_CONNECT_BY_PATH(TO_CHAR(TRIM(PRNT_ORD),'FM0000'), '%'),'[^%]+' , 1 , 3 ),'9999') AS PRNT_ORD3,
			            NVL(REGEXP_SUBSTR(SYS_CONNECT_BY_PATH(TO_CHAR(TRIM(PRNT_ORD),'FM0000'), '%'),'[^%]+' , 1 , 4 ),'9999') AS PRNT_ORD4,
			            NVL(REGEXP_SUBSTR(SYS_CONNECT_BY_PATH(TO_CHAR(TRIM(PRNT_ORD),'FM0000'), '%'),'[^%]+' , 1 , 5 ),'9999') AS PRNT_ORD5,
			            NVL(REGEXP_SUBSTR(SYS_CONNECT_BY_PATH(TO_CHAR(TRIM(PRNT_ORD),'FM0000'), '%'),'[^%]+' , 1 , 6 ),'9999') AS PRNT_ORD6,
			            NVL(REGEXP_SUBSTR(SYS_CONNECT_BY_PATH(TO_CHAR(TRIM(PRNT_ORD),'FM0000'), '%'),'[^%]+' , 1 , 7 ),'9999') AS PRNT_ORD7
			        FROM TSY_ACCT_MSTR_MNG
			        WHERE BASE_DATE = (SELECT MAX(BASE_DATE) FROM TSY_ACCT_MSTR_MNG WHERE BASE_DATE &lt;= #{sch_base_date})
		<choose>
			<when test="sch_ac_busi_tc == '0000'">
					AND AC_BUSI_TC = '1105' /*회계구분*/
					START WITH UP_ACCT_C = '0000000'
			        CONNECT BY PRIOR ACCT_C = UP_ACCT_C AND PRIOR BASE_DATE = BASE_DATE AND PRIOR ORG_CLAS_C = ORG_CLAS_C AND PRIOR AC_BUSI_TC = AC_BUSI_TC
			    ) B ON B.ACCT_C = A.ACCT_C AND B.ORG_CLAS_C = A.ORG_CLAS_C
		    </when>
		    <otherwise>
			    	AND AC_BUSI_TC = #{sch_ac_busi_tc} /*회계구분*/
			    	START WITH UP_ACCT_C = '0000000'
			        CONNECT BY PRIOR ACCT_C = UP_ACCT_C AND PRIOR BASE_DATE = BASE_DATE AND PRIOR ORG_CLAS_C = ORG_CLAS_C AND PRIOR AC_BUSI_TC = AC_BUSI_TC
			    ) B ON B.ACCT_C = A.ACCT_C AND B.ORG_CLAS_C = A.ORG_CLAS_C AND B.AC_BUSI_TC = A.AC_BUSI_TC
		    </otherwise>
		</choose>
            ) 
            GROUP BY LVL1, RATE_SSTV_NM, LVL2, LVL3, LVL4, LVL5, LVL6, LVL7
        )
		GROUP BY 
			LVL1
		<if test="sch_acc_tc_lvl == 1">
			, ROLLUP(RATE_SSTV_NM)
		</if>
		<if test="sch_acc_tc_lvl == 2">
			, ROLLUP(RATE_SSTV_NM, LVL2)
		</if>
		<if test="sch_acc_tc_lvl == 3">
			, ROLLUP(RATE_SSTV_NM, LVL2, LVL3)
		</if>
		<if test="sch_acc_tc_lvl == 4">
			, ROLLUP(RATE_SSTV_NM, LVL2, LVL3, LVL4)
		</if>
		<if test="sch_acc_tc_lvl == 5">
			, ROLLUP(RATE_SSTV_NM, LVL2, LVL3, LVL4, LVL5)
		</if>
		<if test="sch_acc_tc_lvl == 6">
			, ROLLUP(RATE_SSTV_NM, LVL2, LVL3, LVL4, LVL5, LVL6)
		</if>
		<if test="sch_acc_tc_lvl == 7">
			, ROLLUP(RATE_SSTV_NM, LVL2, LVL3, LVL4, LVL5, LVL6, LVL7)
		</if>
		ORDER BY PRNT_ORD_PATH, GRP_ID
	</select>
	
	<select id="selectBaseDateSchCbList" parameterType="java.util.Map" resultType="java.util.HashMap">
		SELECT 
			TO_CHAR(TO_DATE(MAX(BASE_DATE), 'YYYYMMDD'), 'YYYY-MM') AS BASE_DATE 
		FROM TBI_RATE_GAP_TOT
	</select>

</mapper>