<!DOCTYPE html>

<!--Thymeleaf, ConfigFragment 선언-->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="ConfigFragment">
    <head>
        <!--Common Head-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport"
              content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0"/>
        <title></title>
        <link rel="stylesheet" th:href="@{/css/jui/jui-grid.classic.css}"/>
        <link rel="stylesheet" th:href="@{/css/jui/jui-ui.min.classic.css}"/>
  		<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    	<script th:src="@{/js/jui/jui-core.min.js}"></script>
    	<script th:src="@{/js/jui/jui-ui.min.js}"></script>
    	<script th:src="@{/js/jui/jui-grid.min.js}"></script>
    </head>
</html>